<div class="row p-4">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New Book Category</h5>
        <div class="card-text">
          <form novalidate>
            <div class="form-group">
              <label for="my-input">
                Specify Category Name
                 <bookstore-required-field></bookstore-required-field>
              </label>
              <input id="my-input" class="form-control" type="text">
            </div>
            <button class="btn btn-primary" type="button">Add Category</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>